<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/adminstyle.css"/>
    </head>
    <body>
        <header>
            <nav>
                <a href = "/home">Home</a>
                <a href = "/employee">Employees</a>
                <a href = "/department">Departments</a>
            </nav>
        </header>
        <main>
            <div id="MyForm">
                <% employee.forEach(function(emp){ %>
                    <h1>Profile:</h1>
                    <div id="First">
                        <span id = "UserID">
                            <h2>User ID:</h2>
                            <h2><%= emp.UserID %></h2>
                        </span>
                        <span id = "lname">
                            <h2>Last Name:</h2>
                            <h2><%= emp.lastname %></h2>
                        </span>
                        <span id="fname">
                            <h2>First Name:</h2>
                            <h2><%= emp.firstname %></h2>
                        </span>
                    </div>
                    <div id="Second">
                        <span id="dept">
                            <h2>Department:</h2>
                            <h2><%= emp.department %></h2>
                        </span>
                        <span id="city">
                            <h2>City:</h2>
                            <h2><%= emp.city %></h2>
                        </span>
                    </div>
                    <div id = "myEdit">
                        <a href="editProfile/<%= emp.UserID %>" class="editButton">Edit Profile</a>
                    </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>